@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900');

/* =================== BASIC SETTINGS =================== */

body {
	color: black;
  font-family: 'Montserrat', sans-serif;
	position: relative;
	margin: 0;
	font-weight: 400
}

a {
	color: white;
	text-decoration: none;
	line-height: inherit;
}

a:hover, a:focus {
	color: white;
}

 a.current {
	pointer-events: none;
}

.section-below-header {
	text-align: center;
}

hr {
	width: 200px;
	border: none;
	border-top: solid 15px;
	display: inline-block;
}

/* =================== NAVIGATION BAR =================== */

nav {
	background-color: #363839;
	position: fixed;
	z-index: 150;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	top: 0;
	width: 100%;
	color: white;
	padding: 10px;
	/* for the animation */
	-webkit-transition: all 0.8s ease;
	transition: all 0.8s ease;
}

nav h1 {
	font-size: 30px;
	/* for the animation */
	-webkit-transition: all 0.8s ease;
	transition: all 0.8s ease;
	margin: 0px;
}

/* navbar animation */

@media (min-width: 875px) {
	nav h1.shrink {
		font-size: 24px;
	}
	nav.shrink {
		padding: 0px;
	}
	#main-logo.shrink {
	   width: 35px;
	}
}

#navbar-element1 {
	float: left;
	padding-left: 100px;
	line-height: 70px;
}

#navbar-element2 {
	float: right;
	padding-right: 300px;
}

#navbar-list {
    list-style:none;
    margin:0;
    text-align:center;
}

#navbar-list li {
    display:inline;
}

#navbar-list a {
	padding: 20px;
	vertical-align: middle;
  display:inline-block;
	letter-spacing: 0.5px;
}

.dropdown {
	padding: 25px;
	vertical-align: middle;
  display:inline-block;
	letter-spacing: 0.5px;
}

.dropdown-content {
	display: none;
}

.dropdown-content a {
	padding: 5px;
}

#navbar-element2 ul li:hover .dropdown-content {
	display: block;
	background-color: #363839;
	position: absolute;
	padding: 10px;
}

.dropdown-content-show {
	display: inline-block;
	position: fixed;
	z-index: 150;
	background-color: #363839;
	top: 90px;
	margin: 0;
	padding: 10px 0px 10px 0px;
	width: 100%;
	border-top: 0.5px solid white;
	line-height: 1;
}

.dropdown-content-show li{
	list-style :none;
	text-align: left;
	padding: 10px
}

.dropdown-content-show li i{
	padding-left: 20px
}

#navbar-list a:hover {
	color: #8a8988;
}

#navbar-menu {
	display: none;
	padding: 8px 0px 0px 0px;
}

#navbar-menu p {
	border: 2px solid white;
	padding: 10px;
}

#main-title {
	display:inline-block;
	vertical-align: middle;
	padding-left: 10px;
}

#main-logo {
   display:inline-block;
   width: 50px;
   vertical-align: middle;
	 /* for the animation */
	 -webkit-transition: all 0.8s ease;
	 transition: all 0.8s ease;
}

/* === for laptops and other mobile devices ==== */

@media (max-width: 1195px) {
	#navbar-element2 {
		padding-right: 150px;
	}
}

@media (max-width: 1045px) {
	#navbar-element2 {
		padding-right: 50px;
	}
}

@media (max-width: 945px) {
	#navbar-element1 {
		padding-left: 50px;
	}
}

@media (max-width: 895px) {
	#navbar-list {
		display: none;
	}
	#navbar-menu {
		display: inline-block;
	}
	#navbar-element1 {
		padding-left: 10px;
		line-height: 85px;
	}
	nav {
		padding: 0;
	}
	nav h1 {
		font-size: 20px;
	}
	#main-logo {
	   width: 30px;
	}
}

@media (max-width: 500px) {
	#navbar-element2 {
		padding-right: 10px;
	}
}

@media (max-width: 320px) {
	#main-title {
		padding-left: 1px;
	}

	#navbar-menu {
		padding: 18px 0px 0px 0px;
	}

	#navbar-menu p {
		padding: 5px;
	}

	#menu-button {
		font-size: 12px;
	}
}


/* =================== NETWORK SECTION =================== */

#network {
	padding-top: 150px;
	padding-bottom: 50px;
	background-color: white;
	margin: auto;
	text-align: center;
	width: 100%;
}

.title_text {
  font-family: 'Raleway', sans-serif;
	padding-bottom: 25px;
	padding-left: 10px;
	padding-right: 10px;
}

.title_text h3, .title_text h4 {
	font-weight: 500;
}

#network-plot {
	margin: auto;
  height: 340px;
}

/* === for laptops and other mobile devices ==== */

@media (max-width: 491px) {
	.title_text {
		line-height: 2;
	}
}

/* =================== PROJECT SECTION =================== */

#projects {
	padding-top: 50px;
	padding-bottom: 100px;
	background-color: #5a90d9;
	color: white;
	text-align: center;
}

#main-box {
	margin: auto;
	width: 900px;
	text-align: center;
}

#main-box::before {
	display: table;
	content: " ";
}

#main-box:after {
	display: table;
	content: " ";
	clear: both;
}

.section-below-header#projects-section {
	color:white;
}

#projects hr {
	color: white;
}

#projects h1 {
	text-transform: uppercase;
	font-size: 40px;
	letter-spacing: 2px;
	font-family: inherit;
	font-weight: 700;
}

#projects h2 {
	padding-left: 20px;
	padding-right: 20px;
	font-weight: 400;
}

.sub-boxes{
	display: table-cell;
	float: left;
	width: 405px;
	height: 250px;
	margin: 30px 0px 0px 30px;
	line-height: 1;
}

#main-box a{
	width: 405px;
	height: 250px;

}

#main-box img{
	position: relative;
	top: 25%;
}

.sub-boxes#pic-box1{
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
	background-color: #5c5b5a;
}

.sub-boxes#pic-box2{
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
	background-color: #ba4c63;
}

.sub-boxes#pic-box3{
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
	background-color: #7570bd;
}

.sub-boxes#pic-box4{
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
	background-color: #074b00;
}

#more-info{
	padding: 40px 15px 0px 15px;
	font-size: 18px;
}

/* === for laptops and other mobile devices ==== */

@media (max-width: 900px) {
	#main-box {
		width: 405px;
	}

	.sub-boxes{
		width: 405px;
		height: 250px;
		margin: 30px 0px 0px 0px;
	}
}

@media (max-width: 520px) {
	#projects hr {
		width: 150px;
	}
}

@media (max-width: 450px) {
	#main-box {
		width: 300px;
	}

	#main-box a{
		width: 300px;
		height: 185px;
	}

	#main-box img{
		top: 15%;
	}

	.sub-boxes{
		width: 300px;
		height: 185px;
	}

	.imghvr-blur h3{
		font-size: 16px;
		margin: 5px;
	}

	.imghvr-blur p{
		font-size: 12px;
		margin: 5px;
	}
}

@media (max-width: 410px) {
	#projects hr {
		width: 100px;
	}
}

@media (max-width: 350px) {
	#projects h1 {
		letter-spacing: 1.5px;
		font-size: 37px;
	}
}

@media (max-width: 320px) {
	#projects hr {
		width: 30%;
	}

	.sub-boxes{
		float: none;
		display: inline-block;
		width: 100%;
	}

	#main-box{
		width: 100%;
		padding: 20px;
		/* important!!!  */
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
}

/* =================== ABOUT SECTION =================== */

#about{
	padding-top: 50px;
	padding-bottom: 50px;
	font-family: 'Raleway', sans-serif;
}

#about h1 {
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	font-size: 40px;
	font-family: 'Montserrat', sans-serif;
}

#about h2 {
	position: relative;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	padding: 30px;
	font-size: 25px;
	font-family: 'Montserrat', sans-serif;
	border: 2px solid black;
	width: 300px;
	margin: auto;
}

.section-below-header#about-section {
	color:black;
}

#about hr {
	color: #363839;
}

#block-layer{
	position: relative;
	margin: auto;
	width: 1000px;
	padding-bottom: 30px;
	padding-left: 20px;
	padding-right: 20px;
}

#block-layer::before {
	display: table;
	content: " ";
}

#block-layer:after {
	display: table;
	content: " ";
	clear: both;
}

#block1{
	float: left;
	width: 45%;
	line-height: 2;
	text-align: justify;
}

#block1 a{
	color: black;
}

#block2{
	float: left;
	width: 50%;
	text-align: center;
	padding-top: 25px;
}

#block2 img{
	width: 400px;
}

#skills {
	position: relative;
	padding: 30px 0px;
	line-height: 2;
	width: 500px;
	margin: auto;
}

#skills ul {
  list-style-type: none;
	margin-left: -40px;
}

#stars {
	float: right;
}

#skills p {
		text-align: justify;
}

#skills p span {
		color: #2A54F5;
}

#visualization {
	padding-bottom: 30px;
	width: 70%;
	margin: auto;
}

.vis-item .vis-item-overflow {
	overflow: visible;
}

/* === for laptops and other mobile devices ==== */

@media (max-width: 990px) {
	#block-layer{
		width: 600px;
	}

	#block1{
		float: none;
		width: 100%;
	}

	#block2{
		float: none;
		width: auto;
	}

	#block2 img{
		width: 200px;
	}
}
@media (max-width: 660px) {
	#block-layer{
		width: 400px;
	}
}

@media (max-width: 540px) {
	#skills {
		width: 400px;
	}

	#text {
		font-size: 14px;
	}
}

@media (max-width: 510px) {
	#block-layer{
		width: 300px;
	}

	#about hr {
		width: 150px;
	}

	#skills {
		width: 320px;
	}
}

@media (max-width: 410px) {
	#about h2 {
		width: 250px;
		font-size: 22px;
	}

	#about hr {
		width: 100px;
	}

	#skills {
		width: 280px;
	}
}

@media (max-width: 350px) {
	#block-layer{
		width: 280px;
	}

	#about h1 {
		letter-spacing: 1.5px;
	}

	#about h2 {
		width: 225px;
	}

	#skills {
		width: 260px;
	}
}

@media (max-width: 320px) {
	#about hr {
		width: 30%;
	}

	#block-layer{
		width: 100%;
		padding: 20px;
		/* important!!!  */
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
 		box-sizing: border-box;
	}

	#about h2 {
		width: 70%;
	}

	#skills {
		width: 100%;
		padding: 20px;
		/* important!!!  */
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

}

/* =================== CONTACT SECTION =================== */

#contact{
	padding-top: 50px;
	padding-bottom: 100px;
	background-color: #5a90d9;
	color: white;
	text-align: center;
}

#contact hr {
	color: white;
}

#contact h1 {
	text-transform: uppercase;
	font-size: 40px;
	letter-spacing: 2px;
	font-family: inherit;
	font-weight: 700;
}

#contact h2 {
	padding: 40px 20px;
	font-weight: 400;
	width: 50%;
	margin: auto;
}

form {
	width: 900px;
	margin: 0 auto;
}

.form-content {
	width: 100%;
  margin: 0 auto;
  padding: 10px 5px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.form-content input, .form-content textarea{
	box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border:0;
	outline: none;
  padding: 30px 30px 30px 30px;
  margin: 2px 0;
  border-radius: 8px;
  display: block;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  resize: none;
}

#name, #email, #waypoints{
	font-size: 16px;
}

input[type=submit] {
  width: 200px;
  padding: 20px;
	margin-top: 20px;
  background: #E74C3C;
  border-radius: 8px;
  border: 0;
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
}

::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: 700;
  color: black;
}
::-moz-placeholder {
  font-size: 16px;
  font-weight: 700;
  color: black;
}
:-ms-input-placeholder {
  font-size: 16px;
  font-weight: 700;
  color: black;
}
input:-moz-placeholder {
  font-size: 16px;
  font-weight: 700;
  color: black;
}

.error {
  color: black;
	margin: 5px;
}

/* === for laptops and other mobile devices ==== */

@media (max-width: 900px) {
	form {
		width: 100%;
	}

	#contact h2 {
		width: 70%;
	}
}

@media (max-width: 500px) {
	hr {
		width: 30%;
	}
}

/* =================== FOOTER =================== */

#fusion-footer{
	bottom:0;
	width: 100%;
	background-color: #363839;
	border-top: 10px solid #e9eaee;
}

#footer-higher{
	width: 50%;
	float:left;
	padding-bottom: 20px;
	background-color: #363839;
	text-align: left;
}

#footer-higher h2{
	font-size: 26px;
	padding-bottom: 30px;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
}

#footer-higher p{
	padding-bottom: 15px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}

#footer-lower{
	padding: 15px 0px;
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
}

#twitter-block{
	width: 25%;
	float:left;
	padding-top: 5px;
	background-color: #363839;
	text-align: center;
}

footer {
	border-top: 1px solid #4b4c4d;
	bottom:0;
	width: 100%;
	background-color: #282a2b;
	text-align:center;
	color: white;
	margin: 0;
	padding: 0;
}

#contacts-container{
	width: 100%;
	margin: auto;
	text-align: center;
	padding: 15px 0px;
}

.contacts {
	display: inline-block;
}

.contacts a{
	width: 65px;
	height: 65px;
	display: inline-block;
	border: 2px solid #fff;
	border-radius: 100%;
	text-align: center;
	font-size: 20px;
	line-height: 80px;
	margin: 0px 20px;
	/* for the animation */
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

footer a:hover {
	background-color: white;
	color: #5a90d9;
}


#gmaps{
	width:25%;
	height: 100%;
	float:left;
	text-align: center;
	padding-top: 5px
}

#footer-lower p{
	margin: 0px;
}

/* === for laptops and other mobile devices ==== */

@media (max-width: 790px) {
	#gmaps{
		width: 100%;
		float: none;
	}

	#twitter-block{
		width: 100%;
	}

	#footer-higher{
		width: 100%;
		float:none;
	}
}

@media (max-width: 335px) {
	.contacts a{
		margin: 0px 15px;
	}
}
